body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 9, 6);
}


.main-div{
    height: 200px;
    width: 400px;
    background-color: rgb(21, 46, 110);
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 10px;
}

.main-div h1{
    color: white;
    text-align: center;
}

.length-label{
    color: antiquewhite;
    margin-top: 19px;
    margin-left: 10px;
    font-size: 25px;
    color: orange;
    
}

.slide-bar-length{
    margin-top: 20px;
}



.number-div{
    margin-top: 20px;
    color: orange;
    font-size: 20px;
}

/* .Character-div{
    color: orange;
    font-size: 20px;    
    justify-content: center;
    margin-top: 20px;
} */

.numandchar-div{
    color: orange;
    display: flex;
    margin-top: 20px;
    font-size: 25px;
    gap: 30px;
}

.password-input{
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}

.input-btn-div{
    display: flex;
}

.input-btn-div .copy-btn{
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    background-color: rgb(104, 213, 104);
    box-shadow: 2px 2px 10px rgb(29, 54, 29);
    cursor: pointer;
    
}